<body>
	<form method="POST" action="http://localhost:8000/admin/" autcomplete="off">
		<textarea id="script" type="text" name="script" autocomplete="off" placeholder="Type some js"></textarea>
		<input id="key" type="text" name="key" autocomplete="on" placeholder="Admin key">
		<button type="submit">Send instructions</button>
	</form>
</body>
