<head>
	<style>
	*{font-size:20px;font-family:helvetica}
	body{background-image:url("images/tile2.png");background-repeat:repeat;display:flex;flex-wrap:wrap;}
	button{background-color:#eee;border:2px solid black;border-radius:10px;min-width:10%;}
	input{min-width:80%;}
	.a,.b{font-size:20px;min-width:50%;display:block;padding-left:1%;}
	.a{background-color:#eee}
	.b{background-color:#ccc}
	.c{padding:1%;margin:1% 5%;background-color:#ace;border-radius:20px;flex:1;margin-top:0%;}
	.d{overflow:hidden;border:2px solid black;border-radius:20px;margin-bottom:1%;padding-left:1%;padding-left:0px}
	.e{padding:1%;margin:1% 5%;background-color:#ace;border-radius:20px;flex:1;min-width:80%;min-height:30%;}
	.f{padding:1%;margin:1%;border:2px solid black;}
	a{display:inline;}
	h1{text-align:center;font-size:30px;}
	h2{margin-left:10px;}
	canvas{border:2px solid black}
	meter{display:block;box-sizing:border-box;}
	</style>
</head>
<body>
	<div class="e">
		<h1>Unknown users</h1>
		<a href="/">Home</a><br><br>
		<a>If you are here, tell someone on the chat who you are.</a><br><br>
		<% if (b.length != 0) { %>
			<% b.forEach(a => { %>
				<div class="d">
					<h2><%= a %></h2>
				</div>
			<% }) %>
		<% } else { %>
			<br><a>There are no unknown users.</a>
		<% } %>
	</div>
	<script>
		let k = localStorage.k || u();
		localStorage.k = localStorage.k || k;
		setInterval(() => {
			localStorage.k = k;
		});
		window.onbeforeunload = () => {
			localStorage.k = k;
		}
		window.onunload = () => {
			localStorage.k = k;
		}
	</script>
</body>
