<head>
	<style>
		body{background-image:url("images/tile.png");background-repeat:repeat;}
		button{background-color:#eee;border:2px solid black;border-radius:10px;min-width:10%}
		input{min-width:10%}
		.c{padding:1%;margin:1% 20%;background-color:#ace;border-radius:20px;}
	</style>
<body>
	<div class="c">
		<h2>Register</h2>
		<form method="POST" action="/register/" autocomplete="off">
			<input id="uuid" type="text" name="uuid" autocomplete="off" hidden="true"><br>
			<a>Name:</a><br><input id="un" type="text" name="un" autocomplete="off"><br><br>
			<button type="submit">Register</button>
		</form>
		<button onclick="location.href='/'">Home</button>
	</div>
	<script>
		document.getElementById("uuid").value = localStorage.k;
		let k = localStorage.k || u();
		localStorage.k = localStorage.k || k;
		setInterval(() => {
			localStorage.k = k;
		});
		window.onbeforeunload = () => {
			localStorage.k = k;
		}
		window.onunload = () => {
			localStorage.k = k;
		}
	</script>
</body>
