<body>
	<h2>Register id</h2>
	<button onclick="history.go(-1);">Back</button>
	<h3 id="iddispl">Loading...</h3>
	<form method="POST" action="http://localhost:8000/register/" autocomplete="off">
		<a>Id:</a><input id="uuid" type="text" name="uuid" autocomplete="off"><br>
		<a>Name:</a><input id="un" type="text" name="un" autocomplete="off">
		<button type="submit">Register</button>
	</form>
	<script>
	document.getElementById("iddispl").innerHTML = "Your id is " + localStorage.k;
	</script>
</body>
